.box {
 display: flex;
 height: 100vh;
 overflow:hidden;
}

.eventlist {
 display: flex;
 width: 40%;
 box-shadow: 0px 0px 6px 0 rgb(0, 0, 0);
 z-index: 2;
}

.map {
 position: relative;
 width: 60%;
 height: 100vh;
}
