.navGreen {
    color: var(--secondary-color);
    text-shadow: 0px 1px 4px var(--light-color);
  }
  .navHeroes {
    color: var(--leaf-color);
    text-shadow: 0px 1px 4px var(--light-color);
  }
  
.navbar{
    background-color: rgb(229,231,225);
    height:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    position: sticky;
    top:0;
    z-index: 20;
    box-shadow:0px 4px 8px rgb(145, 145, 145);
}

.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:5rem; /*a voir*/
    max-width:1500px;
}
.nav-logo{
  
    align-items: center;
    margin-left: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    flex-grow:1;
   
    
}

.nav-menu{
    display: flex;
    list-style: none;
    text-align:center;
    margin-right:2rem;
}
.nav-links{
    color:var(--ground-color-hover);
    text-decoration: none;
    padding: 0.5rem 1rem;
    height:100%;
    border-bottom: 3px solid transparent;
}
.fa-code{
    margin-left:1rem;
}

.nav-item{
    line-height: 3rem; /*40px pour un encadré parfait*/
    margin-right: 1rem;
}

.nav-item:after{
    content: "";
    display: block;
    height: 0.15rem;
    border-radius: 100%;
    width:0;
    background:transparent;
    transition: width 500ms ease, background-color 500ms ease;
}

.nav-item:hover:after{
    width:100%;
    background:var(--leaf-color);
}

.nav-item .active{
    color:var(--leaf-color);
    border-top: 3px solid;
    border-radius:16px;

    /* border:1px solid #FEEAA1; */
}

.nav-icon{
    display:none;
}

@media screen and (max-width: 960px){
    .nav-menu{
        display:flex;
        flex-direction: column;
        width:100%;
        border-top : 2px solid var(--leaf-color);
        position:absolute;
        top:80px;
        left:-110%;
        opacity:1;
        transition: all 500ms ease;
        box-shadow:0px 4px 8px rgb(145, 145, 145);
    }
    .nav-menu.active{
        background:rgb(229,231,225);
        left:0px;
        opacity: 1;   
        transition: all 500ms ease;
        z-index: 1;
    }
    .nav-item .active{
        color:var(--ground-color-hover);
        border:none;
    }
    .nav-links{
        padding:1.5rem;
        width:100%;
        display: table;
    }
    .nav-icon {
        display:block; 
        position:absolute;
        top:0;
        right:0;
        transform:translate(-100%, 80%);
        font-size: 1.8rem;
        cursor: pointer;
        color:var(--ground-color-hover);
        
    }
}