:root{
  --leaf-color: #2b8758;
  --ground-color: #9F7250;
  --see-color: #0089BA;
  --secondary-color: #845EC2;
  --light-color:white;
  --dark-color:black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}